{% extends 'base.html.twig' %}

{% block title %}New LigneCommande{% endblock %}

{% block body %}
    <h1>Nouveau Ligne de Commande</h1>

    {{ include('ligne_commande/_form.html.twig') }}

    <a href="{{ path('ligne_commande_index') }}">Retour à la liste</a>
{% endblock %}
