{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    <h1>Nouveau client</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('client_index') }}">Revenir à la liste</a>
{% endblock %}
